body {
  margin: 0;
  background: black;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

.title {
  margin: 10px 0;
}

.score {
  font-size: 20px;
  margin: 8px 0;
}

/* TOP CONTROLS */
.top-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.top-controls button,
.arrow-controls button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* GAME */
.game-container {
  width: 90vw;
  max-width: 320px;
  height: 520px;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background: #272626;
}

/* ROAD */
.road {
  position: absolute;
  width: 100%;
  height: 200%;
  background: #2b2b2b;
  animation: roadMove 2s linear infinite;
}

.road.paused {
  animation-play-state: paused;
}

@keyframes roadMove {
  from { transform: translateY(-45%); }
  to { transform: translateY(0); }
}

/* CENTER LINE */
.center-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    white 0px,
    white 40px,
    transparent 40px,
    transparent 80px
  );
}

/* CARS */
.car {
  width: 45px;
  position: absolute;
}

.player {
  bottom: 30px;
  left: 140px;
}

.enemy {
  top: -120px;
}

/* GAME OVER */
.game-over {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* BOTTOM ARROWS */
.arrow-controls {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 15px 0;
}


/* ROAD */
.road {
  position: absolute;
  width: 100%;
  height: 200%;
  background: #2b2b2b;
  animation: roadMove 2s linear infinite;
}

.road.paused {
  animation-play-state: paused;
}

/* YELLOW SIDE LINES */
.road::before,
.road::after {
  content: "";
  position: absolute;
  top: 0;
  width: 6px;
  height: 100%;
  background: #f5c542; /* YELLOW */
}

.road::before {
  left: 25px;
}

.road::after {
  right: 25px;
}
